<h2>Submit evening report</h2>
<form action="/eveningform" method="POST">
    <label for="fdate">Date:</label><br>
    <input type="date" id="fdate" name="date" value="<%= date %>"><br>
    <label for="fsports_duration">Sports duration:</label><br>
    <input type="number" id="fsports_duration" name="sports_duration" step="0.1"><br>
    <label for="fstudy_duration">Study duration:</label><br>
    <input type="number" id="fstudy_duration" name="study_duration" step="0.1"><br>
    <label for="feating_quality">Eating quality:</label><br>
    <input type="number" id="feating_quality" name="eating_quality" min="1" max="5"><br>
    <label for="fevening_mood">Generic mood:</label><br>
    <input type="number" id="fevening_mood" name="evening_mood" min="1" max="5"><br>
    <input type="submit" value="Submit" /><br>
</form>