<!DOCTYPE html>
<html>

<head>
  <title>my-monitor</title>
  <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.2/dist/paper.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<style>
  .content {
    max-width: 500px;
    margin: auto;
    padding: 25px;
  }

  .initiallyHidden {
    display: none;
  }

  .flex-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
  }

  .my-error-form {
    width: 350px;
  }

  .my-error-form>input:not([type=submit]),
  a {
    width: 100%;
  }

  .my-error-form>a {
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
</style>

<body>
  <%- include('./navBar.ejs') %>
  <div class="flex-container">
    <div class="content">