<!DOCTYPE html>
<html>

<head>
  <title>my-monitor</title>
  <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.1/dist/paper.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<style>
  .content {
    max-width: 500px;
    margin: auto;
  }
</style>

<body>

  <div class="content">