<%- include('./partials/header.ejs') %>

<h1>Login!</h1>
<form class="my-error-form" method="POST" action="/auth/login">
    <label for="name">Email:</label>
    <%- include('./partials/validationErrors.ejs', {validationErrors: errors?.email}) %>
    <input id="email" type="email" name="email" />
    <label for="name">Password:</label>
    <input id="password" type="password" name="password" /><br>
    <input type="submit" value="Login" />
</form><br>
<a href="/auth/register">Don't have an account? Click here to register</a>

<%- include('./partials/footer.ejs') %>