<%- include('./partials/header.ejs') %>
<h1>Login!</h1>
<form method="POST" action="/auth/login">
    <label for="name">Email:</label>
    <input id="email" type="email" name="email" />
    <label for="name">Password:</label>
    <input id="password" type="password" name="password" />
    <input type="submit" value="Login" />
</form>
<a href="/auth/register">register</a>
<%- include('./partials/footer.ejs') %>