<%- include('./partials/header.ejs') %>
<h1>my-monitor</h1>
Welcome to my-monitor! With this application, you can keep track of your behavior, which means the time spent on:
<ul>
    <li>sleeping</li>
    <li>stydying</li>
    <li>exercises</li>
</ul>
<p>and the quality of:</p>
<ul>
    <li>sleeping</li>
    <li>eating</li>
    <li>mood</li>
</ul>

<a href="/behavior/reporting">click here to add behavior reports</a><br>
<a href="/behavior/summary">click here to show behavior report summary</a><br>

<%- include('./partials/reportComparison.ejs') %>
<%- include('./partials/footer.ejs') %>